.heder{
    background: rgba(250, 236, 210, 0.952);
    border-radius: 25px;
}
.sid{
    display: grid;
    grid-template-columns:350px 300px 230px;
    grid-auto-rows: auto 1fr auto;
    grid-gap: 10px;

   
}
.sid >*{
    grid-row: auto ; 
    display: grid;
    grid-template-rows: subgrid;
    grid-gap: 3px;
}
@media (min-width: 600px) and (max-width: 900px) {
    .Content {
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto auto;
     
    }
    .sid{
        grid-template-rows: auto;
        grid-gap: 3px;
    }
    .cont{
        width: auto;
        max-width: auto;
        margin: auto;
        }
   
}